VITE_FIREBASE_API_KEY="AIzaSyDD-PRfYcTYaPQE-1-bUgnCr2MkhpGDMIo"
VITE_FIREBASE_AUTH_DOMAIN="a-mitges.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="a-mitges"
VITE_FIREBASE_STORAGE_BUCKET="a-mitges.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="485409285414"
VITE_FIREBASE_APP_ID="1:485409285414:web:19b68110b4e8b350c64de7"
